<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Django Girls</title>
</head>

<body>
    <div>
        <h1><a href="/">Blog Django Girls</a></h1>
    </div>
    <!--  cycle
Ciclo entre dadas strings ou variáveis a cada vez que esta tag é encontrada.
Dentro de um loop, ciclos entre dadas strings a cada volta dentro do loop:

    {% for post in posts %}
        {{post}}
    {% endfor %}-->
    {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

</body>

</html>