{% extends 'blog/base.html'%}
<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Django Girls</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>

<body>
    <div class="page-header">
        <h1><a href="/">Blog Django Girls</a></h1>
    </div> -->
    <!--  cycle
Ciclo entre dadas strings ou variáveis a cada vez que esta tag é encontrada.
Dentro de um loop, ciclos entre dadas strings a cada volta dentro do loop:

    {% for post in posts %}
        {{post}}
    {% endfor %}-->
    <!-- <div class="content container">
        <div class="row">
            <div class="col-md-8"> -->
                


    {% block content %}
        {% for post in posts %}
        <div class="post">
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% empty %}
            <h6>Não há postagens no momento</h6>
        {% endfor %}
    {% endblock %}
    <!-- </div>
        </div>
    </div> -->

</body>

</html>